<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{import "module/head"}}
</head>
<body>
<div class="iaas-main">
    {{import "module/main-menu"}}
    <div class="main-cont">
        {{import "module/cont-left"}}
        {{import "module/cont-right"}}
    </div>
</div>
</body>
</html>