<!--cont-right-->
<div class="cont-right">
    <div class="right-nav">
      <a href="#">首页</a> > <a href="#">业务</a> > 详情页
    </div>
    <!--right-nav end-->
    <div class="right-choose">
        <div class="select-box"><span class="seltext">城市</span>

            <div class="selbg">
                <a href=""></a>
                <select class="sellist">
                    <option>1111</option>
                    <option>2222</option>
                    <option>3333</option>
                    <option>4444</option>
                </select></div>
        </div>
        <!--城市选择 end-->
        <div class="select-box selip"><span class="seltext">服务器</span>

            <div class="selbg">
                <a href=""></a>
                <select class="sellist">
                    <option>53.117.228.219</option>
                    <option>58.83.191.30</option>
                </select></div>
        </div>
        <!--服务器选择 end-->
        <div class="select-box seltime"><span class="seltext">时间</span>

            <div class="selbg">
                <a href=""></a>
                <select class="sellist">
                    <option>2014年6月8日到2014年6月22日</option>
                    <option>2015年1月8日到2015年2月22日</option>
                </select></div>
        </div>
        <!--时间选择 end-->
        <div class="now-time">实时数据15:48:35</div>
    </div>
    <!--right-choose end-->
    <div class="iaas-view">
        <div class="viem-title"><strong>CPU状态</strong>
        </div>
        <div class="viem-cont"><img src="../../image/img/1.png"></div>
    </div>
    <!--iaas-view end-->
    <div class="iaas-view">
        <div class="viem-title"><strong>服务器</strong>
        </div>
        <div class="right-choose">
            <div class="select-box selip"><span class="seltext">机器类型</span>

                <div class="selbg">
                    <a href=""></a>
                    <select class="sellist">
                        <option>全部</option>
                        <option>2222</option>
                        <option>3333</option>
                        <option>4444</option>
                    </select></div>
            </div>
            <!---->
            <div class="select-box selip"><span class="seltext">服务器IP</span>

                <div class="selbg"><input type="text"></div>
            </div>
        </div>
        <!--right-choose end-->
        <div class="viem-cont">
            <table class="servertable">
                <tr>
                    <th>名称</th>
                    <th>机器类型</th>
                    <th>状态</th>
                    <th>内外网IP</th>
                    <th width="220">CPU信息</th>
                    <th>内存信息</th>
                    <th>厂商设备类型</th>
                    <th>操作</th>
                </tr>
                <tr class="odd-row">
                    <td>江西移动-网站直播</td>
                    <td>物理机</td>
                    <td class="error">故障</td>
                    <td>53.117.228.219（内网）<br>58.83.191.30（外网）</td>
                    <td>Intel(R) Core(TM)2 Duo CPU T7250 @ 2.00GHz</td>
                    <td>64G</td>
                    <td>DELL R420</td>
                    <td><a href="">查看</a><a href="">重启</a><a href="">部署环境</a><a href="">重装系统</a></td>
                </tr>
                <tr class="even-row">
                    <td>江西移动-网站直播</td>
                    <td>虚拟机</td>
                    <td class="normal">正常</td>
                    <td>53.117.228.219（内网）<br>58.83.191.30（外网）</td>
                    <td>Intel(R) Core(TM)2 Duo CPU T7250 @ 2.00GHz</td>
                    <td>64G</td>
                    <td>DELL R420</td>
                    <td><a href="">查看</a><a href="">重启</a><a href="">部署环境</a><a href="">重装系统</a></td>
                </tr>
            </table>
            <!--table.servertable end-->
            <div class="table-page">
                <span class="current">1</span>
                <a href="#?page=2">2</a>
                <a href="#?page=3">3</a>
                <a href="#?page=4">4</a>
                <a href="http://www.divcss5.com/">5</a>
                <a href="#?page=6">6</a>
                <a href="#?page=7">7</a>
                ...
                <a href="#?page=199">199</a>
                <a href="#?page=200">200</a>
                <a href="#?page=2">
                    &gt; </a></div>
            <!--table-page 翻页 end-->
        </div>
    </div>
    <!--服务器+表格  end-->
    <div class="iaas-view">
        <div class="viem-title disk"><strong>硬盘</strong>
        </div>
        <div class="viem-cont">
        <table class="disktable">
                <tr>
                    <th>编号</th>
                    <th>型号</th>
                    <th>温度</th>
                    <th>硬盘大小</th>
                    <th>状态</th>
                    <th>储存空间</th>
                </tr>
                <tr>
                    <td>硬盘1</td>
                    <td>SSDSC2CW120A3</td>
                    <td>-1℃</td>
                    <td>1024  GB</td>
                    <td class="normal">正常</td>
                    <td>RAID Group 1</td>
                </tr>
                <tr>
                    <td>硬盘1</td>
                    <td>SSDSC2CW120A3</td>
                    <td>-1℃</td>
                    <td>1024  GB</td>
                    <td class="error">故障</td>
                    <td>RAID Group 1</td>
                </tr>
            </table>
        </div>
    </div>
    <!--硬盘表格 end-->
</div>
<!--cont-right end-->