<!DOCTYPE html>
<html>
{{include "views/module/head"}}
<body>
<ui-view></ui-view>
<script src="js/vendor/requirejs/require.js" data-main="js/config.js"></script>
<script src="js/vendor/echarts/echarts.js"></script>
</body>
</html>