<div class="iaas-view">
  <div class="viem-title disk"><strong>硬盘</strong>
  </div>
  <div class="viem-cont">
    <table class="disktable">
      <tr>
        <th>编号</th>
        <th>型号</th>
        <th>温度</th>
        <th>硬盘大小</th>
        <th>状态</th>
        <th>储存空间</th>
      </tr>
      <tr>
        <td>硬盘1</td>
        <td>SSDSC2CW120A3</td>
        <td>-1℃</td>
        <td>1024  GB</td>
        <td class="normal">正常</td>
        <td>RAID Group 1</td>
      </tr>
      <tr>
        <td>硬盘1</td>
        <td>SSDSC2CW120A3</td>
        <td>-1℃</td>
        <td>1024  GB</td>
        <td class="error">故障</td>
        <td>RAID Group 1</td>
      </tr>
    </table>
  </div>
</div>