<div class="iaas-view">
  <sf-title-hr title="服务器"></sf-title-hr>
  <div class="right-choose">
    <sf-select
      bean="bean"
      clazz="select-box selip"
      title="城市机房"
      name="computer_room">
    </sf-select>

    <sf-select name="servertype" title="机器类型" clazz="select-box selip" bean="bean">
    </sf-select>
    <!---->
    <sf-input name="IP" clazz="select-box selip" title="服务器IP" bean="bean"></sf-input>
  </div>
  <!--right-choose end-->
  <div class="viem-cont">
    <table class="servertable">
      <tr>
        <th>名称</th>
        <th>机器类型</th>
        <th>状态</th>
        <th>内外网IP</th>
        <th width="220">CPU信息</th>
        <th>内存信息</th>
        <th>厂商设备类型</th>
        <th>操作</th>
      </tr>
      <tr
        ng-repeat="server in tableData.serverlist"
        ng-class="{'odd-row': $odd, 'even-row': $even}" >
        <td>{{server.Description}}</td>
        <td>{{getServerType(server.servertype)}}</td>
        <td ng-class="{error: isErrorServer(server.serverstatus.status)}" title="{{server.serverstatus.value}}">
          {{getStatus(server.serverstatus)}}
        </td>
        <td>{{server.Intranet_IP}}（内网）<br>{{server.Outer_net_IP}}（外网）</td>
        <td>{{server.CPU}}</td>
        <td>{{server.RAM}}</td>
        <td>{{server.Manufacturer_device_type}}</td>
        <td>
          <a href="javascript:void(0)" ng-click="gotoRouter(server.name)">查看</a>
          <a href="">重启</a>
          <a href="">部署环境</a>
          <a href="">重装系统</a>
        </td>
      </tr>
    </table>
    <!--table-page 翻页 end-->
    <sf-pager name="serverTablePager" bean="bean"></sf-pager>
  </div>
</div>