<div class="iaas-view">
  <sf-title-hr title="服务器"></sf-title-hr>
  <div class="right-choose">
    <div class="select-box selip"><span class="seltext">机器类型</span>
      <div class="selbg">
        <a href=""></a>
        <select class="sellist">
          <option value="ALL">全部</option>
          <option  value="0">物理机</option>
          <option value="1">虚拟机</option>
        </select>
      </div>
    </div>
    <!---->
    <div class="select-box selip"><span class="seltext">服务器IP</span>

      <div class="selbg"><input type="text"></div>
    </div>
  </div>
  <!--right-choose end-->
  <div class="viem-cont">
    <table class="servertable">
      <tr>
        <th>名称</th>
        <th>机器类型</th>
        <th>状态</th>
        <th>内外网IP</th>
        <th width="220">CPU信息</th>
        <th>内存信息</th>
        <th>厂商设备类型</th>
        <th>操作</th>
      </tr>
      <tr
        ng-repeat="server in tableData.serverlist"
        ng-class="{'odd-row': $odd, 'even-row': $even}" >
        <td>{{server.Description}}</td>
        <td>{{getServerType(server.servertype)}}</td>
        <td ng-class="{errro: isErrorServer(server.serverstatus.value)}">{{getStatus(server.serverstatus)}}</td>
        <td>{{server.Intranet_IP}}（内网）<br>{{server.Outer_net_IP}}（外网）</td>
        <td>{{server.CPU}}</td>
        <td>{{server.HD}}</td>
        <td>{{server.Device_type}}</td>
        <td><a href="">查看</a><a href="">重启</a><a href="">部署环境</a><a href="">重装系统</a></td>
      </tr>
    </table>
    <!--table-page 翻页 end-->
    <sf-pager name="serverList"></sf-pager>
  </div>
</div>