<!--right-nav end-->
<div class="right-choose">
  <sync-select
    clazz="select-box"
    title="业务"
    name="bzi">
  </sync-select>

  <!--城市选择 end-->
  <div class="select-box selip"><span class="seltext">服务器</span>

    <div class="selbg">
      <a href=""></a>
      <select class="sellist">
        <option>53.117.228.219</option>
        <option>58.83.191.30</option>
      </select></div>
  </div>
  <!--服务器选择 end-->
  <div class="select-box seltime"><span class="seltext">时间</span>

    <div class="selbg">
      <a href=""></a>
      <select class="sellist">
        <option>2014年6月8日到2014年6月22日</option>
        <option>2015年1月8日到2015年2月22日</option>
      </select></div>
  </div>
  <!--时间选择 end-->
  <div class="now-time">实时数据15:48:35</div>
</div>

<div class="iaas-view">
  <div class="viem-title"><strong>CPU状态</strong>
  </div>
  <div class="viem-cont"><img src="../../image/img/1.png"></div>
</div>
<!--硬盘表格 end-->
<harddisk-table></harddisk-table>