<!--right-nav end-->
<div class="right-choose">
  <sf-select bean="bean"
             name="computer_room"
             title="城市"
             clazz="select-box"
             value="{{params.computer_room}}"
    >
  </sf-select>
  <sf-select bean="bean"
             name="hostname"
             title="服务器"
             clazz="select-box"
             value="{{params.hostname}}"
    >
  </sf-select>
  <!--服务器选择 end-->
  <sf-daterangepicker
    bean="bean"
    name="timeBucket"
    format="YYYY-MM-DD"
    limit="31"
    title="时间"></sf-daterangepicker>

  <!--<sf-select bean="bean" name="hourtime" title="其他" clazz="select-box"></sf-select>-->

  <sf-button  bean="bean" title="查询" name="query" ></sf-button>
  <!--时间选择 end-->
  <div class="now-time">实时数据{{nowTime}}</div>
</div>

<hardware-chart bean="bean"
                title="CPU状态"
                name="hardware"
                value="CPU"
                clazz="iaas-view">
</hardware-chart>

<hardware-chart bean="bean"
                title="RAM状态"
                name="hardware"
                value="RAM"
                clazz="iaas-view">
</hardware-chart>

<hardware-chart bean="bean"
                title="IO状态"
                name="hardware"
                value="IO"
                clazz="iaas-view">
</hardware-chart>

<hardware-chart bean="bean"
                title="Network状态"
                name="hardware"
                value="Network"
                clazz="iaas-view">
</hardware-chart>

<hardware-chart bean="bean"
                title="Load状态"
                name="hardware"
                value="Load"
                clazz="iaas-view">
</hardware-chart>

<hardware-chart-disk bean="bean"
                title="Disk状态"
                name="hardware"
                value="Disk"
                clazz="iaas-view">
</hardware-chart-disk>