<div class="iaas-main">
  <user-panel></user-panel>
  <div class="main-cont">
    <navigator></navigator>
    <div class="cont-right">
      <div class="right-nav">
        <a href="#">首页</a> > <a href="#">业务</a> > 详情页
      </div>
      <ui-view></ui-view>
    </div>
  </div>
</div>