<div class="right-choose">
  <sf-select
    bean="bean"
    clazz="select-box"
    title="业务"
    name="businessname">
  </sf-select>

  <sf-select
    bean="bean"
    clazz="select-box"
    title="城市"
    name="computer_room">
  </sf-select>

  <sf-daterangepicker
    bean="bean"
    name="timeBucket"
    format="YYYY-MM-DD"
    limit="31"
    title="时间"></sf-daterangepicker>
  <!--时间选择 end-->
  <div class="now-time">实时数据15:48:35</div>
</div>
<!--right-choose end-->
<div class="iaas-view">
  <sf-title-hr title="{{headTitle}}"></sf-title-hr>
  <div class="viem-cont" ng-repeat="chartData in chartList track by $index">
    <div sf-line-surface
      bean="bean"
      chart-data="chartData"
      >
    </div>
  </div>
</div>
<!--iaas-view end-->

<!--服务器+表格  end-->
<server-list-table bean="bean" name="serverListTable"></server-list-table>