<!--right-nav end-->
<div class="right-choose">
  <sf-select
    bean="bean"
    clazz="select-box"
    title="业务"
    name="bizList">
  </sf-select>

  <!--城市选择 end-->
  <sf-select
    bean="bean"
    clazz="select-box"
    title="城市"
    name="cityList">
  </sf-select>

  <!--服务器选择 end-->
  <div class="select-box seltime"><span class="seltext">时间</span>

    <div class="selbg">
      <a href=""></a>
      <select class="sellist">
        <option>2014年6月8日到2014年6月22日</option>
        <option>2015年1月8日到2015年2月22日</option>
      </select></div>
  </div>
  <!--时间选择 end-->
  <div class="now-time">实时数据15:48:35</div>
</div>
<!--right-choose end-->
<div class="iaas-view">
  <div class="viem-title"><strong>CPU状态</strong>
  </div>
  <div class="viem-cont"><img src="../../image/img/1.png"></div>
</div>
<!--iaas-view end-->

<!--服务器+表格  end-->
<server-list-table></server-list-table>