<head>
    <meta charset="utf-8" />
    <meta name="keyword" content="{{global.keyword}}" />
    <meta name="description" content="{{global.description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>运维IAAS监控系统</title>
    <script language="javascript" src="/js/vendor/require.js" data-main="/js/main.js"></script>
    <link rel="stylesheet" href="../css/main.css" type="text/css" media="screen" charset="utf-8" />
</head>